  <p id="notice">Welcome! You have signed up sccessfully.</p>
<div class="container px-5 px-sm-0"> 
 <div class="row">
   <div class="col-md-3">
     <h2>User info</h2>
      <%@user.each do |user|%>
       <%= attachment_image_tag @user,:profile_image,:fill,60,60,fallback:"no_image.jpg"%>
        <table class="table">
          <tbody>
            <tr>
              <th></th>
              <th>name</th>
              <th><%= user.name%></th>
            </th>
            <tr>
              <th>introduction</th>
              <th><%= user.introduction%></th>
              <th></th>
            <tr>
        </table>
        <% end %>
  
  <div class="row">
      <%link_to edit_user_path,class:"btn btn-outline-secondary btn-block fas fa-user_40866"%> 
  </div>    